[core]
	editor = /usr/bin/vim
	compression = 9
	excludesfile = /Users/zoe.gagnon/.gitignore
[push]
	default = simple
[alias]
	gst = git
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff
	update = commit --amend --no-edit
	fixup = commit
	squash = commit
	unstage = reset
	rum = rebase master@{u}
[user]
	name = Zoe Gagnon
	email = zoe@zgagnon.com

[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
[diff]
	tool = p4merge
[difftool "p4merge"]
  path = /Applications/p4merge.app/Contents/Resources/launchp4merge
[include]
	path = /Users/zoe.gagnon/.git-together
[rerere]
	enabled = true
